.champcontainer {
    background-color: white;
    height: 30%;
    width: 21%;
    position: absolute;
    top: 58%;
    left: 7%;
}

.champimages {
    width: 100%;
    height: 80%;
    background-color: orange;
    display: flex;
}

.searchbarcontainer {
    height: 20%;
    width: 100%;
    background-color: aqua;
}

.options {
    background-color: rgb(3, 58, 58);
    position: absolute;
    width: 100%;
    top: 0;
    max-height: 80%;
    overflow-y: auto;

}