.reset {
    position: absolute;
    right: 2.5%;
    bottom: 2.5% ;
    background-color: rgba(201, 137, 137, 0.75);
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: none;
    z-index: 5000;
    background-image: url('/images/delete-icon.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    transition: background-color 0.2s ease-in-out/*, box-shadow 1s ease-in-out*/;
    box-shadow: 0px 0px 8px 5px #276eb1a4;
    cursor: pointer;
}

.reset:hover {
    background-color: rgba(201, 137, 137, 1);
    transition-delay: 0s;
  /*  box-shadow: 0px 0px 8px 5px #7e800ea4; */

}