.importpopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.336);
    z-index: 5000;
}

.setimport {
    z-index: 6000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    background-color: rgba(39, 39, 46);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 4px 8px rgba(0,0,0,0.2), 0 8px 16px rgba(0,0,0,0.2);
}

.importbutton {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(165, 157, 157, 0.342);
    width: 20%;
    height: 5%;
    background-color: rgba(18, 78, 45, 0.678);
    color: white;
    cursor: pointer;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.cancelimport {
    position: absolute;
    top: 1%;
    right: 2%;
    cursor: pointer;
    background-color: red;
    border: 2px solid rgba(0, 0, 0);
    font-weight: bold;
    width: 4%;
    height: 4%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
}

.importP {
    color: red;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 50%;
    white-space: nowrap;
}

.importTextArea {
    background-color: rgba(12, 4, 4, 0.541);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 70%;
    width: 80%;
    resize: none;
    color: white;
    font-size: 1.5rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.importh1 {
    color: white;
    text-align: center;
    margin-top: 2%;
}

.importTextArea:focus {
    border: 1px solid rgba(165, 157, 157, 0.8);
    border-width: 2px;
    outline: none;
}