.footer {
    position: absolute;
    bottom: 0;
    max-height: 150px; /* Adjust this value to match the height of your footer */
    height: auto;
    min-height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center; /* optionally center the content of the footer */
    background-color: red;
    z-index: 2;
  }

  .footerText {
    font-size: 0.8rem;
  }