.mapwrap {
    grid-row: 2 / span 1;
    width: 100%; /* make sure the width fills the column */
    height: 75.5%; /* limit the height to the height of the container */
    border: 1px solid gold;
    overflow: auto;
    overflow-x: visible;
    padding: 0.5rem;
    position: relative;
    background-color: gold;
  }

.mapwrap::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.mapholder {
   width: 100%;
   height: 100%;
   float: left;
   pointer-events: none;
   user-select: none;
}

@media screen and (min-height: 1250px) {
  .mapwrap {
    height: 71%;
  }
}